<select name="filiere" id="filiere" class="form-control">
<option value="-1"> -- Sélectionnez une Filière --</option>
<option value="-1"></option>
{% for filiere in filieres %}
 <option value="{{filiere.id}}">{{filiere.libfiliere}}</option>   
{% else %}
   
{% endfor %}   
</select>